{
    "env": {
        "coreJs": 3,
        "targets": "> 0.25%, not dead"
    },
    "module": {
        "type": "es6",
        "strict": false,
        "strictMode": false,
        "lazy": true,
        "noInterop": false
    }
}
