name: Lint And Build

on: [push, pull_request]

jobs:
    build:
        strategy:
            matrix:
                os: [windows-latest, macos-latest, ubuntu-latest]
                node-version: [20.x]

        runs-on: ${{ matrix.os }}

        steps:
            - uses: actions/checkout@v1
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v1
              with:
                  node-version: ${{ matrix.node-version }}
            - name: npm install
              run: |
                  npm ci
            - name: lint
              run: |
                  npm run lint
            - name: build and test
              run: |
                  npm run build
                  npm test --if-present
              env:
                  CI: true
